[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.0.1"
jinja2 = "==3.0.1"
pypdf2 = "===1.26.0"
reportlab = "===3.6.1"
uwsgi = "*"

[dev-packages]

[requires]
python_version = "3.6"
